spring:
  application:
    name: langchain4j-demo
  # MySQL数据库连接配置
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/test?useSSL=false&characterEncoding=utf-8
    username: root
    password: 123456
  # MyBatis-Plus配置
  mybatis-plus:
    mapper-locations: classpath:mapper/*.xml
    type-aliases-package: org.example.langchain4jdemo.entity
    configuration:
      map-underscore-to-camel-case: true
    global-config:
      db-config:
        id-type: auto
  # 文件上传配置
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
server:
  port: 8081

# 文件上传目录配置
file:
  upload-dir: ./file

langchain4j:
  open-ai:
    chat-model:
      api-key: sk-6dceb08e41f0486687c2645e5b66be48
      base-url: https://api.deepseek.com/v1
      model-name: deepseek-chat
      log-requests: true
      log-responses: true
